## 1 - Nominal or OHE Encoding

In [1]:
import pandas as pd

In [2]:
from sklearn.preprocessing import OneHotEncoder

In [3]:
df = pd.DataFrame({
    'color' : ['red','blue','green','red','blue']
})

In [4]:
df

   color
0    red
1   blue
2  green
3    red
4   blue

In [5]:
## create an instance of One hot Encoder
encoder = OneHotEncoder()

In [6]:
#fit the encoder to the dataframe and transfrom the categorical variable
encoded = encoder.fit_transform(df[['color']])

In [7]:
import pandas as pd
encoded_df=pd.DataFrame(encoded.toarray(),columns = encoder.get_feature_names_out())

In [8]:
columns=encoder.get_feature_names_out()

In [9]:
encoded_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          0.0        1.0
4         1.0          0.0        0.0

In [10]:
pd.concat([df,encoded_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3    red         0.0          0.0        1.0
4   blue         1.0          0.0        0.0

## 2 - Label and ordinal Encoding

In [11]:
import pandas as pd

In [12]:
from sklearn.preprocessing import LabelEncoder

In [13]:
df = pd.DataFrame({
    'color' : ['red','blue','green','red','blue']
})

In [14]:
df

   color
0    red
1   blue
2  green
3    red
4   blue

In [15]:
# Create an instance of labelEncoder

In [16]:
encoder = LabelEncoder()
encoder.fit_transform(df['color'])

array([2, 0, 1, 2, 0])

In [21]:
## Ordinal Encoding
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
df = pd.DataFrame({
    'size' : ['small','medium','large','small','large']
})
## create an instance of the ordinalencoder class and fit_transforms
encoder = OrdinalEncoder(categories=[['small','medium','large']])

In [23]:
encoder.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [0.],
       [2.]])

### Target Guided Ordinal Encoding

In [27]:
import pandas as pd
# create  a sample dataframe with a categorical variable and a target varibale
df = pd.DataFrame({
    'city' : ['New York','London','Paris','Tokyo','New York','Paris'],
    'price' : [200,150,300,250,180,320]
    
})

In [28]:
df.head()

       city  price
0  New York    200
1    London    150
2     Paris    300
3     Tokyo    250
4  New York    180

In [32]:
## calculate the mean price for each city 
mean_price=df.groupby('city')['price'].mean().to_dict()
mean_price

{'London': 150.0, 'New York': 190.0, 'Paris': 310.0, 'Tokyo': 250.0}

In [34]:
## replace each city with its mean price
df['city_encoded'] = df['city'].map(mean_price)

In [35]:
df

       city  price  city_encoded
0  New York    200         190.0
1    London    150         150.0
2     Paris    300         310.0
3     Tokyo    250         250.0
4  New York    180         190.0
5     Paris    320         310.0