In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
dataset = pd.read_csv('Churn_Modelling.csv')

In [4]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
X = dataset.iloc[:,3:13]
y= dataset.iloc[:,13]

In [6]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [7]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [13]:
## Feature Engineering 
geography = pd.get_dummies(X['Geography'],drop_first=True)
gender = pd.get_dummies(X['Gender'],drop_first=True)

In [15]:

X=X.drop(['Geography','Gender'],axis=1)

In [17]:
## Concatenate 
X=pd.concat([X,geography,gender],axis=1)

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test , y_train  , y_test = train_test_split(X,y,test_size=0.20,random_state=0)

In [20]:
#Feeature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [21]:
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [22]:
X_train

array([[ 0.16958176, -0.46460796,  0.00666099, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-2.30455945,  0.30102557, -1.37744033, ...,  1.75486502,
        -0.57369368,  0.91601335],
       [-1.19119591, -0.94312892, -1.031415  , ..., -0.5698444 ,
        -0.57369368, -1.09168714],
       ...,
       [ 0.9015152 , -0.36890377,  0.00666099, ..., -0.5698444 ,
        -0.57369368,  0.91601335],
       [-0.62420521, -0.08179119,  1.39076231, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-0.28401079,  0.87525072, -1.37744033, ...,  1.75486502,
        -0.57369368, -1.09168714]])

In [24]:
X_train.shape

(8000, 11)

In [27]:
## Create The ANN
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LeakyReLU,ReLU,PReLU,ELU
from tensorflow.keras.layers import Dropout

In [28]:
Classifier = Sequential()

In [31]:
## Adding Input layer
Classifier.add(Dense(units=11,activation='relu'))

In [32]:
Classifier.add(Dense(units=7,activation=
                    'relu'))

In [35]:
Classifier.add(Dense(units=6,activation='relu'))

In [36]:
Classifier.add(Dense(1,activation='sigmoid'))

In [37]:
Classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [42]:
## Early Stopping
import tensorflow as tf
early_stopping=tf.keras.callbacks.EarlyStopping(
    monitor='val_loss',
    min_delta=0.0001,
    patience=20,
    verbose=1
    ,mode='auto',
    baseline=None,
    restore_best_weights=False

)

In [43]:
model_history = Classifier.fit(X_train,y_train,validation_split=0.33,batch_size=10,epochs=1000,callbacks=early_stopping)

Epoch 1/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8810 - loss: 0.2945 - val_accuracy: 0.8455 - val_loss: 0.3704
Epoch 2/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8748 - loss: 0.2982 - val_accuracy: 0.8504 - val_loss: 0.3663
Epoch 3/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8719 - loss: 0.3022 - val_accuracy: 0.8512 - val_loss: 0.3667

In [50]:
dat=pd.DataFrame(model_history.history)

In [51]:
dat

   accuracy      loss  val_accuracy  val_loss
0  0.869565  0.311814      0.845513  0.370425
1  0.868632  0.312061      0.850435  0.366280
2  0.871431  0.310993      0.851193  0.366704

In [52]:
y_pred = Classifier.predict(X_test)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step

In [53]:
y_pred = (y_pred >= 0.5)

In [55]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm = confusion_matrix(y_test,y_pred)
cm

array([[1528,   67],
       [ 221,  184]], dtype=int64)

In [56]:
score = accuracy_score(y_test,y_pred)

In [57]:
score

0.856

In [59]:
## Get The Weight
Classifier.get_weights()

[array([[ 1.7137246e-02, -5.3616717e-02, -4.6992935e-02, -2.0323072e-01,
          1.3016137e-01,  1.6296681e-02,  3.6163187e-01,  1.8753338e-01,
         -4.0265191e-02, -1.7978859e-01,  6.7448273e-02],
        [-5.6661624e-01, -2.1735935e-01,  4.7316957e-01,  1.5804239e-01,
         -2.4770798e-01, -2.2455126e-01, -8.7718904e-01, -5.6086022e-01,
          4.6028253e-02, -2.7181131e-01,  8.5259712e-01],
        [-1.5315743e-01,  9.7331822e-02, -4.9074050e-02,  9.7579263e-02,
          8.1325865e-01,  1.9380720e-01,  1.2799349e-01,  5.8305226e-02,
         -2.1154241e-01,  8.1046081e-01,  1.6786829e-01],
        [-3.4181741e-01, -8.9534454e-02, -4.3220493e-01,  1.4837167e-01,
          3.7020388e-01,  6.6518396e-01, -9.1539323e-02,  2.2302078e-01,
          5.8555681e-01, -3.8366657e-01, -4.2227954e-01],
        [-2.0754378e-01, -1.0233090e+00, -1.1961619e+00,  4.4225402e-02,
          2.5493768e-01,  6.8715692e-01,  2.0717460e-01,  5.2360111e-01,
          1.0559356e+00,  9.1998965e-01,  7.9775798e-01],
        [-7.7963717e-02,  4.3172008e-01, -1.2277138e-01,  1.4941821e-01,
          3.9899740e-01, -4.1722023e-01, -1.4788998e-02,  3.7245157e-01,
          2.0145729e-01, -1.9125777e-01, -2.4751146e-01],
        [-5.6672555e-01,  2.8146383e-01, -2.7156726e-01,  7.7239865e-01,
         -3.2552123e-01, -3.8680122e-03,  8.6569041e-01, -9.5211303e-01,
         -2.3229271e-01, -5.7466274e-01, -1.1838990e-01],
        [-1.5383221e-01, -2.6954970e-01,  8.1205539e-02, -2.5150663e-01,
         -3.4784421e-01,  3.4858358e-01,  1.8502609e-01,  8.0027930e-02,
         -3.0365577e-01,  4.9870485e-01,  2.8010708e-01],
        [-3.5275060e-01, -3.5230726e-01,  2.0694798e-01, -1.8115869e-01,
         -2.8068697e-01, -3.5561651e-02, -6.1286822e-02,  6.8444967e-01,
         -4.6130544e-01, -1.6056186e-01,  6.1053742e-02],
        [-4.5325807e-01,  4.1770338e-04, -2.0440182e-01, -3.5291970e-01,
          9.6159220e-02, -3.2327303e-01,  9.0422504e-02,  4.9405217e-01,
         -2.2571780e-01,  1.8780856e-01,  5.9261035e-02],
        [ 2.0792499e-02,  9.3244009e-02, -8.8543117e-02, -2.6496428e-01,
         -1.3100775e-01, -7.3065639e-01,  2.6606843e-01, -1.6260225e-02,
         -1.4113475e-01,  6.9381273e-01,  1.3078749e-01]], dtype=float32),
 array([ 0.90489316,  0.01478882,  0.01296228,  0.08874808,  0.22987598,
         0.02210595,  0.6019814 , -0.12483158,  0.046549  ,  0.4183307 ,
        -0.09235641], dtype=float32),
 array([[ 0.743289  ,  0.02064928, -0.21825674, -1.8053963 , -0.52236617,
         -0.47554377, -0.44683325],
        [-0.05486517,  0.03320713, -0.9408217 ,  0.5144374 ,  0.40944153,
          0.38878047, -0.14760602],
        [-0.67024165, -0.6612763 , -0.10486417,  0.28028667,  0.9171235 ,
          0.132417  , -0.05384298],
        [ 0.5681672 ,  0.023132  , -0.17777191, -0.20430027, -0.2709598 ,
         -1.0053139 ,  0.59673065],
        [ 0.6385674 , -0.01041163, -0.24911435, -0.06309897,  0.3711103 ,
          0.553353  , -0.30459508],
        [-0.7216153 , -0.516494  ,  0.6017575 , -0.30863953, -0.12429772,
          0.11906333, -0.35723445],
        [ 0.41448474,  0.20682654,  0.57517165, -0.06089222,  0.4126677 ,
         -1.1172879 ,  0.6490085 ],
        [-0.56326365, -0.6541457 ,  0.14262588, -2.3242958 , -0.47498092,
         -0.2755577 , -0.8012708 ],
        [-0.02046753, -0.7367176 ,  0.32284498,  0.11072572,  0.7745988 ,
         -0.03712873, -0.4450471 ],
        [ 0.25482613,  0.6745592 ,  0.5191412 , -0.49518004,  0.5209677 ,
          0.8348309 , -0.03728821],
        [ 0.04553871,  0.04107547,  0.08303414,  0.88254017,  0.635499  ,
         -0.43975216,  0.24605432]], dtype=float32),
 array([ 0.8249239 ,  0.49914095,  0.5222338 , -0.1886267 , -0.5059511 ,
         0.1989976 ,  0.12212024], dtype=float32),
 array([[-0.38216597,  0.70538145, -0.2933824 , -0.50725985, -0.9999549 ,
          0.40056056],
        [-0.6190043 ,  0.27971643,  1.3390745 ,  0.5991487 , -0.48199677,
          0.37984517],
        [-0.01234408,  0.30266717, -0.26816675, -0.78521806, -0.02663701,
          0.69932735],
        [ 0.53413427,  0.04275183,  0.4139427 ,  1.1797308 , -0.6157987 ,
          0.14273849],
        [-0.6485561 , -0.72877914,  0.130769  , -0.03759489,  1.216728  ,
         -0.85875565],
        [-0.14758909,  0.08700228, -1.2149156 , -2.433439  , -0.79996735,
         -0.24106802],
        [-0.25855997,  0.04306087,  0.621231  ,  0.4527826 , -1.0803505 ,
         -0.4508733 ]], dtype=float32),
 array([-0.10622211,  0.4021356 , -0.33941785, -0.01137322,  0.21244188,
         0.3791107 ], dtype=float32),
 array([[ 0.37825337],
        [-0.8206296 ],
        [-1.3109485 ],
        [-1.1371756 ],
        [ 1.4982208 ],
        [-0.58204556]], dtype=float32),
 array([0.14977403], dtype=float32)]